*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-main{
    color: white;
    background-color: #0E7A81;
    border-radius: 12px;
}
.txt-60-clr{
    color: rgba(19, 19, 19, 0.6);
}
.txt-main-clr{
    color: #131313;
}
.cat-hover{
    border: 1px solid rgba(14, 122, 129, 0.15);
}
.cat-hover:hover{
    background-color: rgba(14, 122, 129, 0.1);
    border: 1px solid #0E7A81 !important;
}
.active{
    border: 1px solid rgba(14, 122, 129, 0.15);
    background-color: rgba(14, 122, 129, 0.1);
    border-radius: 50px !important;
    border: 1px solid #0E7A81 !important;
}